.c1{
    width: 200px;
    height: 200px;
    margin: 50px 0px;
}

.bg1{
    background-color: red;
    border-right-color: black;
    border-right-width: 3px;
    border-right-style: solid;
    
    border-top: black dotted 3px;

    border-top-right-radius: 50px;

    padding-top: 30px;

    
}
.bg2{
    background-color: blue;
    border: orangered 4px solid;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 70px;

    padding: 50px;
}
.bg3{
    background-color: yellow;
    border: 5px black solid;
    border-radius: 100px;
   
    padding: 80px;
    box-sizing: border-box;
}

.d1{
    color: red;
    border: 1px solid black;
    padding: 50px;
 /* (inline)은 margin , width, height 는 안먹는다 */
    margin: 50px;
    width: 200px;
    height: 500px;
}